# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Iignore SASS caches
*/.sass-cache/*
*.sass-cache*

# Ignore Bundler
*.bundle