@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800);
@import url(//fonts.googleapis.com/css?family=Gentium+Basic:400,700);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800);
@import url(//fonts.googleapis.com/css?family=Gentium+Basic:400,700);
/* Include Default Variables & Mixins */
@font-face {
  font-family: "Lobster";
  src: url('/sites/all/themes/kickstart_ufy/fonts/Lobster-fontfacekit/Lobster_1.3-webfont.eot');
  src: url('/sites/all/themes/kickstart_ufy/fonts/Lobster-fontfacekit/Lobster_1.3-webfont.eot?#iefix') format('eot'), url('/sites/all/themes/kickstart_ufy/fonts/Lobster-fontfacekit/Lobster_1.3-webfont.woff') format('woff'), url('/sites/all/themes/kickstart_ufy/fonts/Lobster-fontfacekit/Lobster_1.3-webfont.ttf') format('truetype'), url('/sites/all/themes/kickstart_ufy/fonts/Lobster-fontfacekit/Lobster_1.3-webfont.svg') format('svg'); }

/* End Variables & Mixins */
/**************************************************
* --
* 2. Section header
* --
**************************************************/
/**********************************************
* 2.1. Zone user
**********************************************/
/* line 14, ../scss/kickstart-ufy-alpha-default.scss */
.zone-user-wrapper {
  position: fixed;
  z-index: 200; }

/*******************************************
* 2.1.2. Region user second
*******************************************/
/* line 21, ../scss/kickstart-ufy-alpha-default.scss */
#region-user-second {
  background-color: transparent; }

/* line 24, ../scss/kickstart-ufy-alpha-default.scss */
.block-views-shopping-cart-block {
  margin: 0; }

/**********************************************
* 2.2. Zone branding
**********************************************/
/* line 30, ../scss/kickstart-ufy-alpha-default.scss */
.zone-branding .region-branding {
  clear: both; }
  /* line 33, ../scss/kickstart-ufy-alpha-default.scss */
  .zone-branding .region-branding .logo-img {
    float: left;
    text-align: left; }

/**
* Search block
*/
/* line 41, ../scss/kickstart-ufy-alpha-default.scss */
#block-views-exp-display-products-page {
  float: right;
  padding-top: 10px;
  margin-bottom: 10px; }

/* line 46, ../scss/kickstart-ufy-alpha-default.scss */
#block-views-exp-display-products-page .views-exposed-widgets {
  position: relative;
  width: 300px;
  float: none;
  margin-right: 10px;
  margin-bottom: 0; }

/**********************************************
* 2.3. Zone menu
**********************************************/
/* line 56, ../scss/kickstart-ufy-alpha-default.scss */
.menu-toggle {
  display: none; }

/* line 60, ../scss/kickstart-ufy-alpha-default.scss */
.navigation {
  background: transparent;
  display: block !important;
  margin: 26px 0;
  padding-bottom: 0;
  /* Main menu */
  /* Secondary menu */ }
  /* line 66, ../scss/kickstart-ufy-alpha-default.scss */
  .navigation h2 {
    display: none; }
  /* line 70, ../scss/kickstart-ufy-alpha-default.scss */
  .navigation .primary-menu ul,
  .navigation .second-menu ul {
    display: block;
    float: left;
    margin: 0;
    width: 100%; }
    /* line 76, ../scss/kickstart-ufy-alpha-default.scss */
    .navigation .primary-menu ul li,
    .navigation .second-menu ul li {
      float: inherit;
      font-size: 0.8em;
      width: auto; }
      /* line 81, ../scss/kickstart-ufy-alpha-default.scss */
      .navigation .primary-menu ul li a,
      .navigation .second-menu ul li a {
        display: inline;
        border-left-width: 0;
        border-right-width: 0; }
        /* line 86, ../scss/kickstart-ufy-alpha-default.scss */
        .navigation .primary-menu ul li a.active, .navigation .primary-menu ul li a:hover,
        .navigation .second-menu ul li a.active,
        .navigation .second-menu ul li a:hover {
          border-left-width: 0;
          border-right-width: 0; }
      /* line 92, ../scss/kickstart-ufy-alpha-default.scss */
      .navigation .primary-menu ul li.first a,
      .navigation .second-menu ul li.first a {
        border-left: 1px solid #cccccc; }
      /* line 95, ../scss/kickstart-ufy-alpha-default.scss */
      .navigation .primary-menu ul li.last a,
      .navigation .second-menu ul li.last a {
        border-right: 1px solid #cccccc; }
  /* line 101, ../scss/kickstart-ufy-alpha-default.scss */
  .navigation .primary-menu {
    float: left;
    margin-right: 12px;
    margin-left: 0; }
  /* line 107, ../scss/kickstart-ufy-alpha-default.scss */
  .navigation .second-menu {
    clear: inherit;
    float: right;
    margin-right: 0; }

/* line 117, ../scss/kickstart-ufy-alpha-default.scss */
.zone-menu .block-menu h2.block-title {
  margin-bottom: 1em; }
/* line 121, ../scss/kickstart-ufy-alpha-default.scss */
.zone-menu .block-menu ul.menu li {
  font-size: 0.8em;
  width: auto; }
  /* line 125, ../scss/kickstart-ufy-alpha-default.scss */
  .zone-menu .block-menu ul.menu li a {
    display: inline;
    border-left-width: 0;
    border-right-width: 0; }
    /* line 130, ../scss/kickstart-ufy-alpha-default.scss */
    .zone-menu .block-menu ul.menu li a.active, .zone-menu .block-menu ul.menu li a:hover {
      border-left-width: 0;
      border-right-width: 0; }
  /* line 136, ../scss/kickstart-ufy-alpha-default.scss */
  .zone-menu .block-menu ul.menu li.first a {
    border-left: 1px solid #cccccc; }
  /* line 139, ../scss/kickstart-ufy-alpha-default.scss */
  .zone-menu .block-menu ul.menu li.last a {
    border-right: 1px solid #cccccc; }

/**************************************************
* --
* 3. Section content
* --
**************************************************/
/**********************************************
* 3.2. Zone content
**********************************************/
/*******************************************
* 3.2.1. Sidebar first
*******************************************/
/* Price range */
/* line 158, ../scss/kickstart-ufy-alpha-default.scss */
#search-api-ranges-block-slider-view-form .range-slider-box {
  margin: 0 auto;
  width: 90%; }

/* line 162, ../scss/kickstart-ufy-alpha-default.scss */
#search-api-ranges-block-slider-view-form .range-box {
  float: inherit; }

/* line 165, ../scss/kickstart-ufy-alpha-default.scss */
#search-api-ranges-block-slider-view-form label {
  float: left; }

/* line 169, ../scss/kickstart-ufy-alpha-default.scss */
#search-api-ranges-block-slider-view-form #edit-range-from,
#search-api-ranges-block-slider-view-form #edit-range-to {
  float: inherit; }

/* line 172, ../scss/kickstart-ufy-alpha-default.scss */
#search-api-ranges-block-slider-view-form #edit-submit {
  margin-top: 0; }

/*******************************************
* 3.2.2. Content
*******************************************/
/**
* Blocks
*/
/* line 181, ../scss/kickstart-ufy-alpha-default.scss */
#block-views-demo-content-slideshow-block-1 {
  /* HP blocks: Slideshow */ }
  /* line 184, ../scss/kickstart-ufy-alpha-default.scss */
  #block-views-demo-content-slideshow-block-1 .bx-wrapper,
  #block-views-demo-content-slideshow-block-1 .bx-wrapper .bx-window {
    /*max-height: 168px;
    width: 100% !important;*/ }
  /* line 193, ../scss/kickstart-ufy-alpha-default.scss */
  #block-views-demo-content-slideshow-block-1 .bx-wrapper ul.event-slider li {
    height: 168px;
    margin: 0 auto;
    width: 344px;
      /*img {

        height: auto;
        width: 100%;
      }*/ }
    /* line 197, ../scss/kickstart-ufy-alpha-default.scss */
    #block-views-demo-content-slideshow-block-1 .bx-wrapper ul.event-slider li img {
      overflow: hidden; }

/**********************************************
* 3.3. Zone postscript
**********************************************/
/* line 211, ../scss/kickstart-ufy-alpha-default.scss */
.zone-postscript .grid-8 {
  margin: 0 10px;
  width: inherit; }

/* line 215, ../scss/kickstart-ufy-alpha-default.scss */
#zone-postscript {
  /* Adverts blocks */ }
  /* line 218, ../scss/kickstart-ufy-alpha-default.scss */
  #zone-postscript .view-ad-push .views-row,
  #zone-postscript .block-blog-block .block-inner {
    position: relative; }
    /* line 220, ../scss/kickstart-ufy-alpha-default.scss */
    #zone-postscript .view-ad-push .views-row img,
    #zone-postscript .block-blog-block .block-inner img {
      height: auto;
      max-width: 100%; }
  /* line 226, ../scss/kickstart-ufy-alpha-default.scss */
  #zone-postscript .view-ad-push .views-row .views-field-field-tagline,
  #zone-postscript .block-blog-block .block-inner .content .views-field-title {
    position: absolute;
    bottom: 10%;
    left: 7%;
    width: 86%; }
    /* line 231, ../scss/kickstart-ufy-alpha-default.scss */
    #zone-postscript .view-ad-push .views-row .views-field-field-tagline a,
    #zone-postscript .block-blog-block .block-inner .content .views-field-title a {
      border: 0; }
  /* line 236, ../scss/kickstart-ufy-alpha-default.scss */
  #zone-postscript .block-blog-block .block-inner .block-title {
    display: block; }
  /* line 242, ../scss/kickstart-ufy-alpha-default.scss */
  #zone-postscript .view-ad-push .views-row .views-field-field-tagline .field-content a,
  #zone-postscript .block-blog-block .views-field-title .field-content a {
    min-height: 60px;
    padding: 15px 10px; }

/**************************************************
* --
* 4. Section footer
* --
**************************************************/
/**********************************************
* 4.1. Zone footer
**********************************************/
/**
* Menu footer navigation
*/
/* line 261, ../scss/kickstart-ufy-alpha-default.scss */
.section-footer ul.menu li.expanded {
  display: inline;
  float: left; }

/**********************************************
* 4.2. Zone footer2
**********************************************/
/* line 275, ../scss/kickstart-ufy-alpha-default.scss */
#block-menu-menu-payment-methods {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px; }

/**************************************************
* --
* 5. Commerce specific
* --
**************************************************/
/**********************************************
* 5.1. Search & Collection page
**********************************************/
/**
* Collection page
*/
/* line 290, ../scss/kickstart-ufy-alpha-default.scss */
.view-collection-taxonomy-term .view-header {
  background-size: cover; }
  /* line 292, ../scss/kickstart-ufy-alpha-default.scss */
  .view-collection-taxonomy-term .view-header .taxonomy-title {
    position: relative; }
  /* line 295, ../scss/kickstart-ufy-alpha-default.scss */
  .view-collection-taxonomy-term .view-header .collection-terms {
    float: right;
    margin: 5px;
    padding-top: 0; }

/**********************************************
* 5.3. Product page
**********************************************/
/**
* Add to cart popin.
*/
/* line 308, ../scss/kickstart-ufy-alpha-default.scss */
div.messages.commerce-kickstart-add-to-cart .message-inner .button-wrapper {
  float: none;
  height: 100%;
  position: absolute;
  right: 0; }
/* line 314, ../scss/kickstart-ufy-alpha-default.scss */
div.messages.commerce-kickstart-add-to-cart .message-inner .view-confirm-message-product-display {
  float: left; }
  /* line 317, ../scss/kickstart-ufy-alpha-default.scss */
  div.messages.commerce-kickstart-add-to-cart .message-inner .view-confirm-message-product-display .view-content .views-field-commerce-product .content .field-name-field-images {
    clear: left;
    float: left; }

/* Product details */
/* line 325, ../scss/kickstart-ufy-alpha-default.scss */
.node-product-type {
  /* Cloud zoom */ }
  /* line 330, ../scss/kickstart-ufy-alpha-default.scss */
  .node-product-type .commerce-product-field .cloud-zoom-big,
  .node-product-type .commerce-product-field .mousetrap,
  .node-product-type .commerce-product-field .cloud-zoom-lens {
    display: inherit !important; }
  /* line 334, ../scss/kickstart-ufy-alpha-default.scss */
  .node-product-type .field-name-field-product form.commerce-add-to-cart label {
    float: none; }

/**********************************************
* 5.4. Checkout process
**********************************************/
/**
* Checkout page
* Shipping page
*/
/* line 350, ../scss/kickstart-ufy-alpha-default.scss */
.page-checkout #commerce-checkout-form-checkout fieldset label,
.page-checkout #commerce-checkout-form-review fieldset label {
  float: left;
  width: 20%; }
/* line 355, ../scss/kickstart-ufy-alpha-default.scss */
.page-checkout #commerce-checkout-form-checkout fieldset .commerce-customer-profile-copy label,
.page-checkout #commerce-checkout-form-review fieldset .commerce-customer-profile-copy label {
  float: none;
  width: 100%; }

/* line 363, ../scss/kickstart-ufy-alpha-default.scss */
.page-cart .entity-commerce-product .content .field-name-field-images {
  display: inline;
  float: left;
  margin-right: 8px; }

/**************************************************
* --
* 7. Blog
* --
**************************************************/
/* line 374, ../scss/kickstart-ufy-alpha-default.scss */
.page-blog .region-content .view-content .views-row {
  clear: left;
  float: left;
  width: 49%; }
/* line 379, ../scss/kickstart-ufy-alpha-default.scss */
.page-blog .region-content .view-content .views-row-even {
  clear: right;
  float: right; }

/**************************************************
* --
* 9. User account
* --
**************************************************/
/* line 390, ../scss/kickstart-ufy-alpha-default.scss */
.page-user,
.page-checkout {
  /* Registration form */
  /* Login form, create an account block */
  /* User home */ }
  /* line 395, ../scss/kickstart-ufy-alpha-default.scss */
  .page-user #user_register_form,
  .page-user #user_login_form,
  .page-user .create-account,
  .page-user #user_pass_form,
  .page-checkout #user_register_form,
  .page-checkout #user_login_form,
  .page-checkout .create-account,
  .page-checkout #user_pass_form {
    clear: none;
    float: left;
    width: 45%; }
  /* line 404, ../scss/kickstart-ufy-alpha-default.scss */
  .page-user form#user-register-form .form-item-pass .password-parent,
  .page-user form#user-profile-form .form-item-pass .password-parent,
  .page-checkout form#user-register-form .form-item-pass .password-parent,
  .page-checkout form#user-profile-form .form-item-pass .password-parent {
    position: relative;
    width: 36.3em; }
    /* line 407, ../scss/kickstart-ufy-alpha-default.scss */
    .page-user form#user-register-form .form-item-pass .password-parent .password-strength,
    .page-user form#user-profile-form .form-item-pass .password-parent .password-strength,
    .page-checkout form#user-register-form .form-item-pass .password-parent .password-strength,
    .page-checkout form#user-profile-form .form-item-pass .password-parent .password-strength {
      position: absolute;
      right: 15px;
      bottom: -12px;
      width: 17em; }
  /* line 414, ../scss/kickstart-ufy-alpha-default.scss */
  .page-user form#user-register-form .form-item-pass .confirm-parent,
  .page-user form#user-profile-form .form-item-pass .confirm-parent,
  .page-checkout form#user-register-form .form-item-pass .confirm-parent,
  .page-checkout form#user-profile-form .form-item-pass .confirm-parent {
    position: relative;
    width: 36.3em; }
    /* line 417, ../scss/kickstart-ufy-alpha-default.scss */
    .page-user form#user-register-form .form-item-pass .confirm-parent div.password-confirm,
    .page-user form#user-profile-form .form-item-pass .confirm-parent div.password-confirm,
    .page-checkout form#user-register-form .form-item-pass .confirm-parent div.password-confirm,
    .page-checkout form#user-profile-form .form-item-pass .confirm-parent div.password-confirm {
      right: 15px;
      bottom: 8px;
      width: 17em; }
  /* line 423, ../scss/kickstart-ufy-alpha-default.scss */
  .page-user form#user-register-form .form-item-pass .password-suggestions,
  .page-user form#user-profile-form .form-item-pass .password-suggestions,
  .page-checkout form#user-register-form .form-item-pass .password-suggestions,
  .page-checkout form#user-profile-form .form-item-pass .password-suggestions {
    width: 38.5em; }
  /* line 427, ../scss/kickstart-ufy-alpha-default.scss */
  .page-user form#user-register-form .form-actions,
  .page-user form#user-profile-form .form-actions,
  .page-checkout form#user-register-form .form-actions,
  .page-checkout form#user-profile-form .form-actions {
    clear: both;
    margin-top: 0;
    margin-bottom: 100px;
    width: 70%; }
  /* line 434, ../scss/kickstart-ufy-alpha-default.scss */
  .page-user #user_pass_form,
  .page-checkout #user_pass_form {
    width: auto; }
  /* line 440, ../scss/kickstart-ufy-alpha-default.scss */
  .page-user form#user-login #user_login_form,
  .page-checkout form#user-login #user_login_form {
    border: 0;
    border-right: 1px solid #444;
    padding-right: 20px;
    padding-bottom: 0; }
  /* line 446, ../scss/kickstart-ufy-alpha-default.scss */
  .page-user form#user-login .create-account,
  .page-checkout form#user-login .create-account {
    margin: 0;
    padding: 0 20px 20px 20px; }
  /* line 455, ../scss/kickstart-ufy-alpha-default.scss */
  .page-user .profile ul.user-information li,
  .page-checkout .profile ul.user-information li {
    border-bottom: 0;
    width: 33%; }

/* Address book */
/* line 465, ../scss/kickstart-ufy-alpha-default.scss */
.page-user-addressbook .view-commerce-addressbook td {
  display: table-cell; }
