/* Include Default Variables & Mixins */
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800);
@import url(//fonts.googleapis.com/css?family=Gentium+Basic:400,700);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800);
@import url(//fonts.googleapis.com/css?family=Gentium+Basic:400,700);
@font-face {
  font-family: "Lobster";
  src: url('/sites/all/themes/kickstart_ufy/fonts/Lobster-fontfacekit/Lobster_1.3-webfont.eot');
  src: url('/sites/all/themes/kickstart_ufy/fonts/Lobster-fontfacekit/Lobster_1.3-webfont.eot?#iefix') format('embedded-opentype'), url('/sites/all/themes/kickstart_ufy/fonts/Lobster-fontfacekit/Lobster_1.3-webfont.woff') format('woff'), url('/sites/all/themes/kickstart_ufy/fonts/Lobster-fontfacekit/Lobster_1.3-webfont.ttf') format('truetype'), url('/sites/all/themes/kickstart_ufy/fonts/Lobster-fontfacekit/Lobster_1.3-webfont.svg') format('svg'); }

/* End Variables & Mixins */
/**************************************************
* --
* 1. Global
* --
**************************************************/
/* line 10, ../scss/ie-lte-7.scss */
img {
  width: auto; }

/* line 13, ../scss/ie-lte-7.scss */
#messages {
  z-index: 1000;
  /*Fix for z-index stacking*/ }

/**************************************************
* --
* 2. Section header
* --
**************************************************/
/**********************************************
* 2.1. Zone user
**********************************************/
/* line 24, ../scss/ie-lte-7.scss */
.zone-user-wrapper {
  width: inherit !important; }

/*******************************************
* 2.1.1. Region user first
*******************************************/
/* User menu */
/* line 31, ../scss/ie-lte-7.scss */
.block-menu-user-menu .content {
  width: auto; }

/**********************************************
* 2.2. Zone branding
**********************************************/
/**
* Search block
*/
/* line 40, ../scss/ie-lte-7.scss */
#block-views-exp-display-products-page .views-exposed-widgets {
  position: relative; }

/* line 43, ../scss/ie-lte-7.scss */
#block-views-exp-display-products-page .views-exposed-widget {
  padding: 0;
  position: relative;
  left: 0px; }

/* line 48, ../scss/ie-lte-7.scss */
#block-views-exp-display-products-page #edit-search-api-views-fulltext {
  height: 18px; }

/* line 51, ../scss/ie-lte-7.scss */
#block-views-exp-display-products-page .views-submit-button .form-submit {
  float: left;
  width: 24px;
  height: 24px; }

/**********************************************
* 2.3. Zone menu
**********************************************/
/**
* Navigation
*/
/* line 65, ../scss/ie-lte-7.scss */
.navigation .primary-menu ul li,
.navigation .second-menu ul li,
.zone-menu .block-menu ul li {
  display: inline;
  float: left; }
  /* line 69, ../scss/ie-lte-7.scss */
  .navigation .primary-menu ul li a,
  .navigation .second-menu ul li a,
  .zone-menu .block-menu ul li a {
    display: block;
    float: left;
    min-height: 100%;
    height: 28px; }

/**************************************************
* --
* 3. Section content
* --
**************************************************/
/* line 82, ../scss/ie-lte-7.scss */
.section-content {
  min-height: auto;
  height: auto; }

/*******************************************
* 3.2.1. Sidebar first
*******************************************/
/* Search api facet blocks */
/* line 90, ../scss/ie-lte-7.scss */
.region-sidebar-first .block-facetapi {
  margin-left: 5px; }

/* line 93, ../scss/ie-lte-7.scss */
#search-api-ranges-block-slider-view-form {
  margin-top: 15px; }

/* Category */
/* line 97, ../scss/ie-lte-7.scss */
.region-sidebar-first .block-facetapi.field_category .item-list {
  border: none !important;
  height: auto !important;
  padding: 0 !important;
  overflow-y: visible !important; }

/**************************************************
* --
* 5. Commerce specific
* --
**************************************************/
/**********************************************
* 5.1. Search & Collection page
**********************************************/
/* line 111, ../scss/ie-lte-7.scss */
.view-collection-taxonomy-term .view-header .collection-terms {
  padding-bottom: 5px; }

/**********************************************
* 5.2. All products page
**********************************************/
/* line 117, ../scss/ie-lte-7.scss */
.page-products .view-display-products {
  clear: both;
  margin-top: 40px;
  width: 700px; }
  /* line 122, ../scss/ie-lte-7.scss */
  .page-products .view-display-products ul li.views-row {
    display: block;
    height: auto;
    margin: 0;
    width: 225px; }

/**********************************************
* 5.4. Checkout process
**********************************************/
/**
* Checkout progress
*/
/* line 135, ../scss/ie-lte-7.scss */
ol.inline.commerce-checkout-progress li {
  padding-right: 50px;
  padding-left: 25px; }

/* line 139, ../scss/ie-lte-7.scss */
ol.inline.commerce-checkout-progress li {
  background-image: url("../images/bg_checkout_progress_ie.png");
  background-position: right center;
  background-repeat: no-repeat;
  right: -5px; }

/* line 146, ../scss/ie-lte-7.scss */
ol.inline.commerce-checkout-progress li.active {
  background-image: url("../images/bg_checkout_progress_ie.png");
  background-position: right center;
  background-repeat: no-repeat; }

/* line 151, ../scss/ie-lte-7.scss */
ol.inline.commerce-checkout-progress li.previous {
  background-image: url("../images/bg_checkout_progress_ie_visited.png");
  background-position: right center;
  background-repeat: no-repeat; }

/* line 156, ../scss/ie-lte-7.scss */
ol.inline.commerce-checkout-progress li.last {
  background-image: url("../images/bg_checkout_progress_ie_last.png");
  background-position: right center;
  background-repeat: no-repeat; }

/**************************************************
* --
* 9. User account
* --
**************************************************/
/* line 168, ../scss/ie-lte-7.scss */
.page-user .section-footer,
.page-checkout .section-footer {
  overflow: hidden;
  *zoom: 1; }

/* Address book */
/* line 176, ../scss/ie-lte-7.scss */
.page-user-addressbook .field-name-commerce-customer-address .addressfield-container-inline > div.form-item {
  float: none;
  margin: 0; }
