//
// Imports
//

// Import the old normal styles 
@import "kickstart-normal";


/*
 * Layout / page sections
 */

/* Navigation */
.zone-menu {
  .navigation {
    .primary-menu,
    .second-menu {
      ul {
        li {
          font-size: 1.35em;
          padding: 0 1.5em 0 0;
          a, a:link, a:visited {
          }
        }
      }
    }
  }
}

/* Sidebar first */
.region-sidebar-first {
  .block-cart {
    .view-commerce-cart-block {
      table {
        td {
          display: table-cell;
        }
      }
    }
  }
}

/*
 * Taxonomy / product listings / search pages
 */
.page-products {
  .view-display-products {
    li.views-row {
      width: 32%;
    }
  }
}