//
// Imports
//

// Import the old narrow styles 
@import "kickstart-narrow";

// Mixins
@import "mixins";


/*
 * Layout / page sections
 */

/* Branding */
.zone-branding {
  .region-branding {
    margin-top: 30px;
  }
  .branding-data {
    .site-name-slogan {
      float: left;
    }
    .site-name {
      margin: 1em 0 .5em 0;
      text-align: center;
      a, a:link, a:visited {
        font-size: 1.5em;
        padding: 0 0 0 0.25em;
      }
      a:hover, a:active, a:focus {
      }
    }
  }
  #block-views-exp-display-products-page {
    padding-top: 28px;
    right: 0;
    .views-exposed-form {
      .views-exposed-widgets {
        margin: 0;
        padding: 0;
      }
      .views-submit-button {
        .form-submit {
        }
      }
    }
  }
}

/* Navigation */
.zone-menu {
  .navigation {
    background-color: transparent;
    border: 0px none;
    margin: 0 0 1em 0;
    padding: 0;
    .primary-menu,
    .second-menu {
      margin: 0;
      padding: 0;
      ul {
        margin-left: 0;
        padding: 0;
        li {
          font-size: 1.25em;
          margin: 0;
          padding: 0 1.25em 0 0;
          &.last {
            padding-right: 0;
            a:hover, a:focus, a:active, a.active, a.active-trail {
              border-bottom: $green 3px solid;
            }
          }
          a, a:link, a:visited {
            background-color: transparent;
            border: 0 none;
            color: $blue;
            font-size: 1em;
            padding: .25em 0 0 0;
          }
          a:hover, a:focus, a:active, a.active, a.active-trail {
            background-color: transparent;
            border: 0 none;
            border-bottom: $green 3px solid;
            color: $green;
          }
          a.active, a.active-trail {
            font-weight: bold;
          }
        }
      }
    }
    .second-menu {
      ul {
        li.last a {
          border: 0 none;
        }
      }
    }
  }
}

.breadcrumb {
  margin: .25em 0 1.5em 0;
}

/* Sidebar first */
.region-sidebar-first {
  .block-cart {
    .view-commerce-cart-block {
      table {
        td {
          display: block;
        }
      }
      .view-footer {
        ul.inline {
          li {
            display: block;
            float: left;
            margin: 0 .25em 0 0;
            padding: 0 .5em 0 0;
            text-align: left;
          }
        }
      }
    }
  }
}