//
// Imports
//

// Import the old wide styles 
@import "kickstart-wide";

// Mixins
@import "mixins";


/*
 * Layout / page sections
 */

/* Navigation */
.zone-menu {
  .navigation {
    .primary-menu,
    .second-menu {
      ul {
        li {
          font-size: 2em;
          padding: 0 1.75em 0 0;
          a, a:link, a:visited {
          }
        }
      }
    }
  }
}

/* Sidebar first */
.region-sidebar-first {
  h2 {
    padding-bottom: .5em;
  }
  .field_product_commerce_price_amount_float {
    h2 {
      padding-bottom: 1.75em;
    }
  }
}